<h1>Welcome to iBilik</h1>

<% @posts.to_a.each do |post| %>
	
	<a href = "/posts/<%= post.id %>"><b><%= post.title %> by: <%= post.user.name %></b></a><br>
	<%= post.location %><br><br>

<% end %>

<% if current_user %>

<a href="/users/logout"><button>Logout</button></a>
<a href = "/posts/new"><button> Create New Post </button></a>


<% else %>

<a href="/users"><button>Login</button></a>
<a href="/users/new"><button> Sign up</button></a>

<% end %>